img{
    width: 330px;
    border-radius: 20px;
    /* border-color: antiquewhite; */
    margin-left: 50px;
   
  
    
}
div{
     width: 20vw;
     height: 70vh;
     background-color: antiquewhite;
     padding-right: 30px;
     margin-left: 50px;
     border-radius: 20px;
     border-color: azure;
       padding-right: 50px;
        padding-top: 15px;
        max-width: 600px;
        min-width: 380px;
        max-height: 70vh;
        min-height: 70vh;
}
h1{
    background-color: deepskyblue;
    height: 5vh;
    width: 25vw;
    max-width: 300px;
    max-height: 200px;
    margin-left: 108px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    padding-left: 15px;
    font-weight: 100;
    
}

hr{
    margin-left: 45px;

}

body{
    background-color: black;
}
p{
    margin-left: 35px;
    font-size: medium;
    text-align: justify;
    line-height: 19px;
  
}